<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mongo:db-factory id="mongoDbFactory" dbname="test" host="localhost" port="27017" />
	
	
<!-- 	<mongo:mapping-converter id="mongoConverter" base-package="com.genpact.mongodb">
		<mongo:custom-converters base-package="com.genpact.mongodb" />
	</mongo:mapping-converter> -->
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg ref="mappingMongoConverter" />
		<property name="writeConcern" value="SAFE" />
	</bean>
	<mongo:repositories base-package="com.genpact.mongodb" />
	
	
	
	

    <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" />
    <!-- 配置mongodb映射类型 -->
    <bean id="mappingMongoConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
        <constructor-arg name="mappingContext" ref="mappingContext" />
        <property name="typeMapper" ref="defaultMongoTypeMapper" />
    </bean>

    <!-- 默认Mongodb类型映射 -->
    <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
        <constructor-arg name="typeKey">
            <null /><!-- 这里设置为空,可以把 spring data mongodb 多余保存的_class字段去掉 -->
        </constructor-arg>
    </bean>
    
	
	<!-- <mongo:mongo id="mongo" host="58.2.217.227" port="27017" />
	<mongo:db-factory id="mongoDbFactory" dbname="GenpactMongo" mongo-ref="mongo" username="hadoop" password="hadoop" />
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongo" />
		<constructor-arg name="databaseName" value="XSCMongo" />
	</bean>

	<mongo:repositories base-package="com.genpact.mongodb.dao"/> -->
	
	
	</beans>
	